<nav class="navbar navbar-fixed-top">
  <div class="container-fluid" id="navbar-edados">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-edados">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="http://estadaodados.com/base/imgs/logo_estadao_dados.png" id="logo_estadao_dados" title="Estadão Dados"/></a>
    </div>
    <div class="navbar-collapse collapse navbar-collapse-edados" id="navbar-collapse-edados">
      <ul class="nav navbar-nav navbar-edados">
        <li class="dropdown active navbar-edados-projetos">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Projetos <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabelProjetos">
            <!--START_MENU_ITENS-->
            <li role="presentation"><a href="/basometro">Basômetro</a></li>
            <li role="presentation"><a href="/biomas2012">Biomas 2012</a></li>
            <li role="presentation"><a href="/coligacoes">Coligações</a></li>
            <li role="presentation"><a href="/cotas">Cotas</a></li>
            <li role="presentation"><a href="/cruzador">Cruzador de Opiniões</a></li>
            <li role="presentation"><a href="/eleicoes2012">Eleições 2012</a></li>
            <li role="presentation"><a href="/ideb">IDEB</a></li>
            <li role="presentation"><a href="/intencaodevoto">Intenção de Voto</a></li>
            <li role="presentation"><a href="/perfil_eleitorado">Perfil do Eleitorado</a></li>
            <li role="presentation"><a href="/piramide_eleitoral">Pirâmide Eleitoral</a></li>
            <li role="presentation"><a href="/quespvcquer">Que SP vc quer?</a></li>
            <li role="presentation"><a href="/religiao">Religiões</a></li>
            <li role="presentation"><a href="/ringue2014">Ringue 2014</a></li>
            <li role="presentation"><a href="/santamaria">Santa Maria</a></li>
            <li role="presentation"><a href="/saopauloquebalanca">São Paulo que balança</a></li>
            <!--END_MENU_ITENS-->
          </ul>
        </li>
        <li><a href="http://blog.estadaodados.com">Blog</a></li>
        <li class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
            Estadão
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menuEstadao" aria-labelledby="dLabelEstadao">
            <li><a href="http://politica.estadao.com.br/" target="_top" title="POLÍTICA">Política</a></li>
            <li><a href="http://economia.estadao.com.br/" target="_top" title="ECONOMIA">Economia</a></li>
            <li><a href="http://esportes.estadao.com.br/" target="_top" title="ESPORTES">Esportes</a></li>
            <li><a href="http://blogs.estadao.com.br/link/" target="_top" title="LINK">Link</a></li>
            <li><a href="http://rta-se.estadao.com.br/" target="_top" title="DIVIRTA-SE">Divirta-se</a></li>
            <li><a href="http://pme.estadao.com.br/" target="_top" title="PME">PME</a></li>
            <li><a href="http://www.estadao.com.br/jornal-do-carro" target="_top" title="JORNAL DO CARRO">Jornal do Carro</a></li>
            <li><a href="http://www.estadao.com.br/opiniao/" target="_top" title="OPINIÃO">Opinião</a></li>
            <li><a href="http://acervo.estadao.com.br/" target="_top" title="ACERVO">Acervo</a></li>
            <li><a href="http://radio.estadao.com.br/" target="_top" title="RÁDIO">Rádio</a></li>
            <li><a href="http://territorioeldorado.limao.com.br" target="_top" title="Eldorado">Eldorado</a></li>
            <li><a href="http://revistapiaui.estadao.com.br/" target="_top" title="Piauí">Piauí</a></li>
            <li><a href="http://www.broadcastpolitico.com.br/experimente/" target="_top" title="Broadcast Político">Broadcast Político</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav> <!-- Fim da barra de navegação do Estadão Dados -->
